body {
  margin: 0;
}

p {
  color: rgb(243, 40, 40);
  font-size: 20px;
}

// Header

.sticky {
  position: fixed;
  width: 100%;
}

.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
  box-shadow: 4px 4px 4px lightgrey;

  span {
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  &_logo {
    img {
      height: 110px;
      width: 200px;
      margin-left: 25px;
    }
  }

  &_navigation {
    margin-right: 25px;

    &--link {
      border: 1.5px solid black;
      border-radius: 10px;
      color: black;
      padding: 6px;
      text-decoration: none;
      font-size: 18px;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      transition: 1s;
    }

    &--link:hover {
      background-color: black;
      color: white;
    }
  }
}

// Main-Content

.banner-img {
  width: 100%;
  height: 500px;
  margin-top: 105px;
}

.specs-heading {
  display: inline-block;
  width: 100%;
  height: 50px;
  text-align: center;
  border-top: 3px solid lightgrey;
  border-bottom: 3px solid lightgrey;
  padding-top: 15px;
  font-size: 30px;
  text-transform: uppercase;
  margin: 0px;
  background-color: aliceblue;
}

.specifications {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 50px;
  column-gap: 50px;
  margin-top: 50px;
  margin-bottom: 50px;

  &_item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid lightgrey;
    border-radius: 40px;
    padding: 10px;
    background-color: aliceblue;
  }

  &_item img {
    width: 50px;
    height: 50px;
  }

  &_item span {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}

.similar-heading {
  display: inline-block;
  width: 100%;
  height: 50px;
  text-align: center;
  border-top: 3px solid lightgrey;
  border-bottom: 3px solid lightgrey;
  padding-top: 15px;
  font-size: 30px;
  text-transform: uppercase;
  margin: 0px;
  background-color: aliceblue;
}

.similar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 25px;

  &_item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    text-align: center;
    border-left: 3px solid lightgrey;
    border-right: 3px solid lightgrey;
    width: 480px;
  }

  &_item img {
    width: 400px;
    height: 400px;
  }

  &_item h4 {
    text-transform: uppercase;
    font-size: 20px;
  }
}

// Footer

.footer {
  display: grid;
  background-color: aliceblue;
  grid-template-columns: 1fr 1fr;
  height: 300px;
  border-top: 3px solid lightgrey;
  h2 {
    font-size: 30px;
    text-transform: uppercase;
  }

  input {
    width: 300px;
    height: 20px;
  }

  button {
    width: 320px;
    height: 30px;
    border-radius: 10px;
    background-color: black;
    color: white;
  }

  &_contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  &_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

// Responsive

@media all and (max-width: 400px) {
  body {
    width: 400px;
  }

  .sticky {
    display: flex;
    width: 400px;
    position: fixed;
  }

  .header {
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: center;
    height: 60px;

    &_logo img {
      width: 130px;
    }

    &_navigation {
      display: none;
      
    }

    span {
      display: none;
    }

    
  }

  .banner-img {
    width: 100%;
    height: 250px;
    margin-top: 50px;
  }

  .specs-heading {
    display: inline-block;
    width: 100%;
    height: 25px;
    text-align: center;
    border-top: 3px solid lightgrey;
    border-bottom: 3px solid lightgrey;
    font-size: 15px;
    text-transform: uppercase;
    background-color: aliceblue;
  }

  .specifications {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
  
    &_item {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;
      text-align: center;
      border: 2px solid lightgrey;
      border-radius: 40px;
      padding: 10px;
      background-color: aliceblue;
    }
  
    &_item img {
      width: 20px;
      height: 20px;
    }
  
    &_item span {
      font-size: 12px;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }
  }

  .similar-heading {
    display: inline-block;
    width: 100%;
    height: 25px;
    text-align: center;
    border-top: 3px solid lightgrey;
    border-bottom: 3px solid lightgrey;
    padding-top: 15px;
    font-size: 15px;
    text-transform: uppercase;
    margin: 0px;
    background-color: aliceblue;
  }

  .similar {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 0px;
  
    &_item {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;
      text-align: center;
      border-left: 3px solid lightgrey;
      border-right: 3px solid lightgrey;
      width: 390px;
    }
  
    &_item img {
      width: 150px;
      height: 150px;
    }
  
    &_item h4 {
      text-transform: uppercase;
      font-size: 20px;
    }

    &_item p {
      font-size: 20px;
    }
  }

  .footer {
    display: flex;
    background-color: aliceblue;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 400px;
    border-top: 3px solid lightgrey;
    h2 {
      font-size: 20px;
      text-transform: uppercase;
    }
  
    input {
      width: 200px;
      height: 20px;
    }
  
    button {
      width: 200px;
      height: 30px;
      border-radius: 20px;
      background-color: black;
      color: white;
    }
  
    &_contact {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      gap: 10px;
      font-size: 20px;
      margin-bottom: 20px;
    }
  
    &_form {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      gap: 10px;
      margin-top: 20px;
    }
  }
}
